.grid-container {
    display: grid;
    /* grid-template-columns: repeat(auto-fill, minmax(220px, 1fr)); */
    /* gap: 16px; */
    /* padding: 20px; */
    justify-content: center;
    /* Fondo oscuro como en la imagen */
}

.video-js {
    width: 1280px;
    max-width: 100%;
    justify-content: center;
    height: 720px;
 }

h3, h1 {
    color: white;
}