<!-- grid de pantalla principal -->

<div class="grid-container">
    <h1>Series recientes</h1>
    
</div>
<div class="grid-container">
    
    <div *ngFor="let serie of seriesData; let i = index" class="grid-item">
        <app-my-card [seriesData]=serie></app-my-card>
    </div>
</div>

<div class="grid-container">
    <h1>Películas recientes</h1> 
</div>
  
<div class="grid-container ">
    <div *ngFor="let serie of seriesData; let i = index" class="grid-item ">
        <app-my-card [seriesData]=serie></app-my-card>
    </div>
</div>

<div class="grid-container">
    <h1>Mangas recientes</h1> 
</div>
  
<div class="grid-container ">
    <button (click)="navigateTo()">Ir a mangas</button>
</div>