.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    max-width: calc(6 * 200px + 6 * 16px);
    margin: 0 auto;
    gap: 20px;
    padding: 20px;
    color: white;
    background-color: #111;
}

.grid-item {
    background-color: #343a40;
    color: white;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
}