<div class="grid-container">
    <h1>Series recientes</h1>
</div>

<div class="grid-container">
    <app-loading [isLoading]="isLoadingVideo"></app-loading>
    <app-loading [isLoading]="isLoadingVideo"></app-loading>
    <app-loading [isLoading]="isLoadingVideo"></app-loading>
    <app-loading [isLoading]="isLoadingVideo"></app-loading>
    <app-loading [isLoading]="isLoadingVideo"></app-loading>
</div>
<div class="grid-container" *ngIf="!isLoadingVideo">
    <div *ngFor="let serie of seriesData; let i = index" class="grid-item">
        <app-my-card [seriesData]=serie></app-my-card>
    </div>
</div>

<div class="grid-container">
    <h1>Películas recientes</h1> 
</div>
  
<div class="grid-container">
    <app-loading [isLoading]="isLoadingVideo"></app-loading>
    <app-loading [isLoading]="isLoadingVideo"></app-loading>
    <app-loading [isLoading]="isLoadingVideo"></app-loading>
    <app-loading [isLoading]="isLoadingVideo"></app-loading>
    <app-loading [isLoading]="isLoadingVideo"></app-loading>
</div>
<div class="grid-container" *ngIf="!isLoadingVideo">
    <div *ngFor="let serie of seriesData; let i = index" class="grid-item">
        <app-my-card [seriesData]=serie></app-my-card>
    </div>
</div>

<div class="grid-container">
    <h1>Mangas recientes</h1> 
</div>

<div class="grid-container">
    <app-loading [isLoading]="isLoadingManga"></app-loading>
    <app-loading [isLoading]="isLoadingManga"></app-loading>
    <app-loading [isLoading]="isLoadingManga"></app-loading>
    <app-loading [isLoading]="isLoadingManga"></app-loading>
    <app-loading [isLoading]="isLoadingManga"></app-loading>
</div>

<div class="grid-container" *ngIf="!isLoadingManga">
    <div *ngFor="let serie of loadedMangas; let i = index" class="grid-item">
        <app-manga-card [mangaModel]="serie" ></app-manga-card>
    </div>
</div>