<!-- grid de pantalla principal -->

<div class="grid-container">
    <h1>Últimas series subidas</h1>
    
</div>
<div class="grid-container">
    
    <div *ngFor="let serie of seriesData; let i = index" class="grid-item">
        <app-my-card [seriesData]=serie></app-my-card>
    </div>
</div>

<div class="grid-container">
    <h1>Últimas películas subidas</h1> 
</div>
  
<div class="grid-container ">
    <div *ngFor="let serie of seriesData; let i = index" class="grid-item ">
        <app-my-card [seriesData]=serie></app-my-card>
    </div>
</div>