<footer class="footer">
    <div class="footer-container">
        <div class="footer-column">
            <h4>Biblioteca</h4>
            <ul>
                <li><a href="#" class="highlight">👑 Comienza tu Prueba Gratuita</a></li>
                <li><a href="#">Acerca</a></li>
                <li><a href="#">Centro de ayuda</a></li>
                <li><a href="#">Términos de Uso</a></li>
                <li><a href="#">Política de Privacidad</a></li>
                <li><a href="#">Herramienta de cookies</a></li>
                <li><a href="#">Contacto de prensa</a></li>
                <li><a href="#">Consultas Publicitarias</a></li>
                <li><a href="#">Aplicaciones</a></li>
                <li><a href="#">Canjear Tarjeta</a></li>
                <li><a href="#">Empleo</a></li>
            </ul>
        </div>
        <div class="footer-column">
            <h4>Cuenta</h4>
            <ul>
                <li><a href="#">Crear cuenta</a></li>
                <li><a href="#">Acceder</a></li>
            </ul>
        </div>
    </div>
</footer>
  