.grid-container {
    display: grid;
    justify-content: center;
}

.video-js {
    width: 1280px;
    max-width: 100%;
    justify-content: center;
    height: 720px;
 }

h3, h1 {
    color: white;
}