<div class="header-hero d-flex align-items-center" [style.background-image]="'url(' + series!.mainImageUrl + ')'">
    <div class="container">
        <div class="header-content">
            <h1 class="display-4 fw-bold">{{series!.title}}</h1>
            <div class="d-flex align-items-center mb-2">
                <div class="genres" *ngFor="let i of series!.allTags">
                    <a href="#">{{i}}</a>
                </div>
            </div>
            <div class="mb-3">
                <a href="#" class="btn btn-orange btn-lg me-2">▶ Comenzar a ver E1</a>
                <button class="btn btn-outline-light">☆</button>
            </div>
            <p>
                {{series!.description}}
            </p>
        </div>
    </div>
</div>
  