<div class="header-hero d-flex align-items-center" [style.background-image]="'url(' + series.mainImageUrl + ')'">
    <div class="container">
        <div class="header-content">
            <h1 class="display-4 fw-bold">{{series!.title}}</h1>
            <div class="d-flex align-items-center mb-2">
                <div class="genres" *ngFor="let i of series!.allTags">
                    <a href="#">{{i}}</a>
                </div>
            </div>
            <br>
            <p>
                {{series!.description}}
            </p>
        </div>
    </div>
</div>
  