<div class="grid-container" >
    <app-loading [isLoading]="isLoading"></app-loading>
</div>
<div class="grid-container" *ngIf="!isLoading">
        <app-details-banner [series]=series></app-details-banner>
</div>



<div class="grid-container" >
    <app-loading [isLoading]="isLoading"></app-loading>
</div>

<div class="grid-container">
    <div class="grid-item" *ngFor="let chapter of series.chapters; let i = index">
        <app-chapter-card [series]=series [chapterNumber]="i"></app-chapter-card>
    </div>
</div>






<!-- <app-loading [isLoading]="isLoading"></app-loading>

<div *ngIf="!isLoading">
    <app-details-banner [series]=series></app-details-banner>

    <div class="grid-container" >
        <div class="grid-item"  *ngFor="let chapter of series.chapters; let i = index">
            <app-chapter-card  [series]=series [chapterNumber]="i"></app-chapter-card>
        </div>
    </div>
</div>

 -->
